<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestion de Usuarios</title>
  <style>
    table{
      border: solid 2px rgb(255, 132, 0);
      width: 700px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      background-color: aliceblue;
    }
    body{
      background-color: rgb(178, 165, 165);
    }
    h1{
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>Lista de usuarios:</h1>
  <table border="1px">
    <tr>
      <th>
        <p>NOMBRE</p>
      </th>
      <th>
        <p>APELLIDO1</p>
      </th>
      <th>
        <p>APELLIDO2</p>
      </th>
      <th>
        <p>EMAIL</p>
      </th>
    </tr>
    <tr th:each="u : ${usuarios}">
      <td>
        <p th:text="${u.nombre}"></p>
      </td>
      <td>
        <p th:text="${u.apellido1}"></p>
      </td>
      <td>
        <p th:text="${u.apellido2}"></p>
      </td>
      <td>
        <p th:text="${u.email}"></p>
      </td>
    </tr>
  </table>    
</body>
</html>