<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestion de Usuarios</title>
  <style>
    table{
      border: solid 2px rgb(255, 132, 0);
      width: 300px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      background-color: aliceblue;
    }
    body{
      background-color: rgb(178, 165, 165);
    }
    h1,h2{
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>Crear nuevo usuarios</h1>
  <h2>Introduzca su información de usuario:</h2>
  <form action="#" th:action="nuevoFormularioDeUsuario" method="post" th:object="${usuarios}">
    <table border="1px">
        <tr>
            <th>
                <p>NOMBRE</p>
            </th>
            <td>
                <input th:field="*{nombre}" type="text">
            </td>
        </tr>
        <tr>
            <th>
                <p>1º APELLIDO</p>
            </th>
            <td>
                <input th:field="*{apellido1}" type="text">
            </td>
        </tr>
        <tr>
            <th>
                <p>2º APELLIDO</p>
            </th>
            <td>
                <input th:field="*{apellido2}" type="text" placeholder="">
            </td>
        </tr>
        <tr>
            <th>
                <label>EMAIL</label>
            </th>
            <td>
                <input th:field="*{email}" type="email" placeholder="@">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Confirmar</button>
            </td>
        </tr>
    </table>
  </form>
</body>
</html>